
<!-- {% block custom_js_script %}
<script>
  labelsHujan = $('input[name="hujan_label"]').val().split(',')
  datasHujan = $('input[name="hujan_data"]').val().split(',')

  changeChartHujan(labelsHujan, datasHujan)
</script>
<script>
  labelsMoisture = $('input[name="moisture_label"]').val().split(',')
  datasMoisture = $('input[name="moisture_data"]').val().split(',')

  changeChartMoisture(labelsMoisture, datasMoisture)
</script>
<script>
  labelsKelembapan = $('input[name="kelembapan_label"]').val().split(',')
  datasKelembapan = $('input[name="kelembapan_data"]').val().split(',')

  changeChartKelembapan(labelsKelembapan, datasKelembapan)
</script>
<script>
  labelsSuhu = $('input[name="suhu_label"]').val().split(',')
  datasSuhu = $('input[name="suhu_data"]').val().split(',')

  changeChartSuhu(labelsSuhu, datasSuhu)
</script>
{% endblock %} -->