{% extends 'main.html' %}
{% block content %}
<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="title">100 Awesome Nucleo Icons</h5>
                    <p class="category">Handcrafted by our friends from <a href="https://nucleoapp.com/?ref=1712">NucleoApp</a></p>
                </div>
                <div class="card-body all-icons">
                    <div class="row">
                        <div class="col-12">
                            <div class="card card-chart">
                                <div class="card-header ">
                                    <div class="row">
                                        <div class="col-sm-6 text-left">
                                            <h5 class="card-category">Total Shipments</h5>
                                            <h2 class="card-title">Hujan</h2>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <input type="hidden" name="hujan_label" value="{% for label in hujan.label %}{{label}}{%if not loop.last %},{% endif %}{% endfor %}">
                                        <input type="hidden" name="hujan_data" value="{% for data in hujan.data %}{{data}}{%if not loop.last %},{% endif %}{% endfor %}">
                                        <div class="chart-area">
                                          <canvas id="chartSuhu"></canvas>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block custom_js_script %}
<script>
  labelsHujan = $('input[name="hujan_label"]').val().split(',')
  datasHujan = $('input[name="hujan_data"]').val().split(',')

  changeChartSuhu(labelsHujan, datasHujan)
</script>
{% endblock %} 